*{
    font-family: "Poppins", sans-serif;
}
body{
    background-image: linear-gradient(#);
}
.logo{
    font-weight: bolder;
    font-size: 28px;
    color: #0D1321;
}
nav{
    height: 112px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 100px;
    margin-right: 90px;
    margin-left: 90px;
    border-radius: ;
}
.btn{
    font-size: 20px;
    color: #0D1321;
    padding: 17px 24px;
    background-image: linear-gradient(90deg,#FFA500, #FFA50080);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* hero */
.section{
    height: 592px;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 100px;
    background: #E6EDF9;
    border-radius: 20px;
}
.hero-img{
    height: 240px;
    width: 240.28px;
    margin-bottom: 32px;
}
p{
    margin-bottom: 32px;
}

/* hero 2 */
.h1{
    font-size: 32px;
}
.hero-2 .p{
    font-size: 16px;
    line-height: 26px;
}
.section2{
    height: 484px;
    border-radius: 20px;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 100px;
    background: #E6EDF9;
}
.section2 .h1{
    margin-left: 48px;
}
.section2 .p{
    margin-left: 48px;
}
.section2 .a{
    margin-left: 48px;
}
